name: make

on:
  push:
    branches: [ make ]
  pull_request:
    branches: [ make ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
